Лабораторна робота №4(Рівень 1) Шкуропінського Максима студента групи ФБ-33

In [2]:
import numpy as np
import pandas as pd
from timeit import default_timer as timer

FILENAME = "household_power_consumption.txt"

In [12]:
# ---------------- Numpy ----------------
types = [("Date", "U10"), ("Time", "U8"), ("Global_active_power",
"float64"), ("Global_reactive_power", "float64"), ("Voltage",
"float64"), ("Global_intensity", "float64"), ("Sub_metering_1",
"float64"), ("Sub_metering_2", "float64"), ("Sub_metering_3",
"float64")]

start_np = timer()
np_data = np.genfromtxt(FILENAME, delimiter=';', dtype=types, 
                        missing_values='?', names=True, encoding='utf-8')
np_data = np_data[~np.isnan(np_data["Global_active_power"])]
end_np = timer()

print(f"Numpy load time: {end_np - start_np:.2f}s")

Numpy load time: 21.64s

In [18]:
np_data[:5]

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.),
       ('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [4]:
# ---------------- Pandas ----------------
start_pd = timer()
df = pd.read_csv(FILENAME, sep=';', na_values='?', low_memory=False)
df.dropna(inplace=True)
end_pd = timer()
print(f"Pandas load time: {end_pd - start_pd:.2f}s")

Pandas load time: 3.38s

In [13]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

1)Обрати всі записи, у яких загальна активна споживана потужність перевищує 5 кВт.

In [22]:
def task1(df, np_data):
    start = timer()
    result_pd = df[df['Global_active_power'] > 5]
    end = timer()
    print(f"Pandas time: {end - start:.4f}s")
    display(result_pd.head())

    start = timer()
    result_np = np_data[np_data['Global_active_power'] > 5]
    end = timer()
    print(f"NumPy time: {end - start:.4f}s")
    print(result_np[:5])
task1(df, np_data)

Pandas time: 0.0063s

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

NumPy time: 0.0302s
[('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.)
 ('16/12/2006', '17:35:00', 5.412, 0.47 , 232.78, 23.2, 0., 1., 17.)
 ('16/12/2006', '17:36:00', 5.224, 0.478, 232.99, 22.4, 0., 1., 16.)]

2)Обрати всі записи, у яких вольтаж перевищую 235 В.

In [23]:
def task2(df, np_data):
    start = timer()
    result_pd = df[df['Voltage'] > 235]
    end = timer()
    print(f"Pandas time: {end - start:.4f}s")
    display(result_pd.head())

    start = timer()
    result_np = np_data[np_data['Voltage'] > 235]
    end = timer()
    print(f"NumPy time: {end - start:.4f}s")
    print(result_np[:5])
task2(df, np_data)

Pandas time: 0.2355s

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

NumPy time: 0.2831s
[('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.)
 ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:31:00', 3.7  , 0.52 , 235.22, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:38:00', 4.054, 0.422, 235.24, 17.6, 0., 1., 17.)]

3)Обрати всі записи, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [24]:
def task3(df, np_data):
    start = timer()
    result_pd = df[(df['Global_intensity'].between(19, 20)) & 
                   (df['Sub_metering_2'] > df['Sub_metering_3'])]
    end = timer()
    print(f"Pandas time: {end - start:.4f}s")
    display(result_pd.head())

    start = timer()
    mask = (np_data['Global_intensity'] >= 19) & \
           (np_data['Global_intensity'] <= 20) & \
           (np_data['Sub_metering_2'] > np_data['Sub_metering_3'])
    result_np = np_data[mask]
    end = timer()
    print(f"NumPy time: {end - start:.4f}s")
    print(result_np[:5])
task3(df, np_data)

Pandas time: 0.0237s

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,17/12/2006,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,17/12/2006,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

NumPy time: 0.0734s
[('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.)
 ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.)
 ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.)
 ('17/12/2006', '01:19:00', 4.636, 0.14 , 237.37, 19.4, 0., 36.,  0.)
 ('17/12/2006', '01:20:00', 4.634, 0.152, 237.17, 19.4, 0., 35.,  0.)]

4)Обрати випадковим чином 500000 записів (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [28]:
def task4(df, np_data):
    start = timer()
    sample_pd = df.sample(n=500000, random_state=42)
    means_pd = sample_pd[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
    end = timer()
    print(f"Pandas time: {end - start:.4f}s")
    print(means_pd)

    start = timer()
    rng = np.random.default_rng(seed=42)
    indices = rng.choice(len(np_data), size=500000, replace=False)
    sample_np = np_data[indices]
    means_np = (
        sample_np['Sub_metering_1'].mean(),
        sample_np['Sub_metering_2'].mean(),
        sample_np['Sub_metering_3'].mean()
    )
    end = timer()
    print(f"NumPy time: {end - start:.4f}s")
    print(f"Means: Group 1: {means_np[0]}, Group 2: {means_np[1]}, Group 3: {means_np[2]}")
task4(df, np_data)

Pandas time: 0.3116s
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
NumPy time: 0.2610s
Means: Group 1: 1.122018, Group 2: 1.315754, Group 3: 6.482582

Обрати ті записи, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [30]:
def task5(df, np_data):
    start = timer()
    df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M:%S')
    after_6 = df[(df['Datetime'].dt.hour >= 18) & (df['Global_active_power'] > 6)]
    mainly_2 = after_6[after_6['Sub_metering_2'] > after_6[['Sub_metering_1', 'Sub_metering_3']].max(axis=1)]
    half = len(mainly_2) // 2
    result_pd = pd.concat([mainly_2.iloc[:half:3], mainly_2.iloc[half::4]])
    end = timer()
    print(f"Pandas time: {end - start:.4f}s")
    display(result_pd.head())

    start = timer()
    df_np = pd.DataFrame(np_data)
    df_np['Datetime'] = pd.to_datetime(df_np['Date'] + ' ' + df_np['Time'], format='%d/%m/%Y %H:%M:%S')
    after_6_np = df_np[(df_np['Datetime'].dt.hour >= 18) & (df_np['Global_active_power'] > 6)]
    mainly_2_np = after_6_np[after_6_np['Sub_metering_2'] > after_6_np[['Sub_metering_1', 'Sub_metering_3']].max(axis=1)]
    half = len(mainly_2_np) // 2
    result_np = pd.concat([mainly_2_np.iloc[:half:3], mainly_2_np.iloc[half::4]])
    end = timer()
    print(f"NumPy time: {end - start:.4f}s")
    display(result_np.head())
task5(df, np_data)

Pandas time: 6.4361s

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
41,16/12/2006,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0,2006-12-16 18:05:00
44,16/12/2006,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0,2006-12-16 18:08:00
17494,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0,2006-12-28 20:58:00
17498,28/12/2006,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0,2006-12-28 21:02:00
17501,28/12/2006,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0,2006-12-28 21:05:00

NumPy time: 6.5582s

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
41,16/12/2006,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0,2006-12-16 18:05:00
44,16/12/2006,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0,2006-12-16 18:08:00
17492,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0,2006-12-28 20:58:00
17496,28/12/2006,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0,2006-12-28 21:02:00
17499,28/12/2006,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0,2006-12-28 21:05:00

Висновок:
numpy array - 4/5
pandas dataframe - 5/5